	<div class="container">		  	
			<div class="col-md-8 dCoverHeader">
				<img alt="Cover Header" src='/img/cover.jpg'>
				<img class="dProfilePic" alt="Profile Picture" src='/img/profile-photo.jpg'>
				<ul class="nav navbar-nav dNavigationBar">
        <li class="active"><a href="/homepage">Home</a></li>
        <li><a href="/timelineM">Timeline</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/getFrndsPage">Friends</a></li>
        <li><a href="/groups">Groups</a></li>
      </ul>
      </div>	
	</div>