<div class="setNavBarHght fb_bgcolor">
	<div class="col-md-6">
		<div class="col-md-2"></div>
		<div class="row">
			<div class="col-xs-6 srchbar_padding">
				<div class="right-inner-addon">
					<i class="glyphicon glyphicon-search"></i>
					<form name="searching" action="search" method="get">
						<input type="search" name="searchValue" class="form-control"
							placeholder="Search Here" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 navbar_scndhlf_paddding">
		<div class="col-md-2"></div>
		<button class="btn navbar_btn_trnsperncy"
			onclick="javascript:window.location.href='/timelineM'; return false;">Profile</button>
		<button class="btn navbar_btn_trnsperncy"
			onclick="javascript:window.location.href='/homepage'; return false;">Home</button>
		<div class="col-md-2"></div>
		<button class="btn navbar_btn_trnsperncy"
			onclick="javascript:window.location.href='/getFrndsPage'; return false;">Friends</button>
		<button class="btn navbar_btn_trnsperncy"
			onclick="javascript:window.location.href='/logout'; return false;">Logout</button>
	</div>
</div>