<html>
	<head>
		<!--  Including header files -->		
		<% include partials/header.ejs %>
	</head>

	<body>
		
		<p></p>	
		
		<div class="col-md-4"></div>
		
		<div class="col-md-2">
		
			<img alt="Oops" src="img/oops.jpg" style="width: 400px; height: 400px">
		</div>
	
	</body>

</html>