<html>
	<head>
		<!--  Including header files -->		
		<% include partials/header.ejs %>
	</head>
	
	<body>
		
		<% include partials/top_navBar.ejs %>
		
		<p></p>
		
		<div class="col-md-3"></div>


		<div class="col-md-6 panel panel-default" style="margin-left: 0px">
	
		<p></p>
	
		<div class="panel-heading" style="background-color: #FFFFFF">
			Facebook Login	
		</div>

		<div class="panel-body">
	
			<div class="panel panel-danger" style="border-color: red">
			
				<div class="panel-heading" style="color: black;">		
					<p>Please re-enter your password</p>
					<p>The password you entered is incorrect. Please try again (make sure your caps lock is off).</p>
					<p>Forgot your password?</p>	
				</div>			
			
			</div>
		
			<div>
			
				<img alt="Profile Pic" src="img/profile-photo.jpg" style="width: 50px; height: 50px">
				<p></p>
				<a href="/" style="color: #3b5998">Not you ?</p>
			
			
			</div>
		
			<p></p>
	
		</div>
	</div>

	</body>


</html>

